<div class="loginContainer">
  <form autocomplete="off" >

    <div class="ui-g">
        <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="float-input" type="text" size="50" pInputText>
              <label for="float-input">E-Mail:</label>
            </span>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-6 ui-fluid">
            <span class="ui-float-label">
              <input id="float-input" type="password" size="50" pInputText>
              <label for="float-input">Senha:</label>
            </span>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-6 ui-fluid">
          <button pButton type="submit" class="ui-button-primary" label="Acessar" ></button>
        </div>
    </div>

    <div class="ui-g">
        <div class="ui-g-3 ui-fluid">
          <a href="javascript:;">primeiro acesso?</a>
        </div>

        <div class="ui-g-3 ui-fluid">
            <a href="javascript:;">esqueci minha senha</a>
        </div>
    </div>

  </form>
</div>
