<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)" >
    <h2>Cadastro de Paciente</h2>
    <p-tabView>
        <p-tabPanel header="Dados Pessoais">

            <div class="ui-g">

                      <div class="ui-g-4 ui-fluid">
                        <span class="ui-float-label">
                          <input id="float-input" type="text" size="30" pInputText
                            name="primeiroNome" [(ngModel)]="paciente.primeiroNome" #primeiroNome="ngModel" required>
                          <label for="float-input">Primeiro Nome*</label>
                      </span>
                      <div *ngIf="primeiroNome.hasError('required') && primeiroNome.dirty"
                      class="ui-message ui-messages-error" >
                        Informe seu Primeiro Nome
                      </div>
                      </div>

                      <div class="ui-g-8 ui-fluid">
                      <span class="ui-float-label">
                          <input id="float-input" type="text" size="30" pInputText
                            name="sobrenome" [(ngModel)]="paciente.sobrenome" #sobrenome="ngModel" required>
                          <label for="float-input">Sobrenome*</label>
                      </span>
                      <div *ngIf="sobrenome.hasError('required') && sobrenome.dirty"
                      class="ui-message ui-messages-error" >
                        Informe o sobrenome
                      </div>
                      </div>
                    </div>

                    <div class="ui-g">
                      <div class="ui-g-3 ui-fluid">
                          <span class="ui-float-label">
                              <p-inputMask mask="999.999.999-99" name="cpf" [(ngModel)]="paciente.cpf" #cpf="ngModel" required></p-inputMask>
                              <label for="float-input">Cpf*</label>
                          </span>
                          <div *ngIf="cpf.hasError('required') && cpf.dirty"
                          class="ui-message ui-messages-error" >
                            Informe o Cpf
                          </div>
                      </div>

                      <div class="ui-g-3 ui-fluid">
                          <span class="ui-float-label">
                              <p-calendar name="dataNascimento" [(ngModel)]="paciente.dataNascimento" #dataNascimento="ngModel" required ></p-calendar>
                              <label for="float-input">Data de Nascimento*</label>
                          </span>
                          <div *ngIf="dataNascimento.hasError('required') && dataNascimento.dirty"
                          class="ui-message ui-messages-error" >
                            Informe sua Data de Nascimento
                          </div>
                      </div>

                      <div class="ui-g-3 ui-fluid">
                          <span class="ui-float-label">
                              <p-inputMask mask="(99)99999-9999"
                              name="telefone" [(ngModel)]="paciente.telefone" #telefone="ngModel" required></p-inputMask>
                              <label for="float-input">Telefone*</label>
                          </span>
                          <div *ngIf="telefone.hasError('required') && telefone.dirty"
                          class="ui-message ui-messages-error" >
                            Informe um telefone de contato
                          </div>
                      </div>

                      <div class="ui-g-3 ui-fluid">
                          <span style="font-weight: bold; margin-left: 8px" >Situação</span>
                          <p-inputSwitch onLabel="Ativo" offLabel="Inativo"></p-inputSwitch>
                      </div>
                    </div>

                    <div class="ui-g">
                    <div class="ui-g-6 ui-fluid">
                        <span class="ui-float-label">
                            <input id="float-input" type="text" size="30" pInputText
                              name="email" [(ngModel)]="paciente.email" #email="ngModel" required>
                            <label for="float-input">E-Mail*</label>
                        </span>
                        <div *ngIf="email.hasError('required') && email.dirty"
                        class="ui-message ui-messages-error" >
                          Informe seu E-Mail
                        </div>
                    </div>

                    
                      <div class="ui-g-3 ui-fluid">
                      <span class="ui-float-label">
                          <input id="float-input" pPassword type="password"
                            name="senha" [(ngModel)]="paciente.senha" #senha="ngModel" required />
                          <label for="float-input">Senha*</label>
                      </span>
                      <div *ngIf="senha.hasError('required') && senha.dirty"
                      class="ui-message ui-messages-error" >
                        Informe sua Senha
                      </div>
                      </div>

                      <div class="ui-g-3 ui-fluid">
                          <span class="ui-float-label">
                              <input id="float-input" pPassword type="password"
                                   required />
                              <label for="float-input">Confirma Senha*</label>
                          </span>
                       
                      </div>
                    </div>

        </p-tabPanel>
        <p-tabPanel header="Endereco">

          <div class="ui-g">

            <div class="ui-g-6 ui-fluid">
                <span class="ui-float-label">
                  <input id="float-input" type="text" size="30" pInputText
                    name="logradouro" [(ngModel)]="paciente.endereco.logradouro" #logradouro="ngModel" required>
                  <label for="float-input">Descrição*</label>
              </span>
              <div *ngIf="logradouro.hasError('required') && logradouro.dirty"
              class="ui-message ui-messages-error" >
                Informe a descrição do endereço(ex: Avenida Brasil...)
              </div>
              </div>

              <div class="ui-g-2 ui-fluid">
                  <span class="ui-float-label">
                    <input id="float-input" type="text" size="10" pInputText
                      name="numero" [(ngModel)]="paciente.endereco.numero" #numero="ngModel" required>
                    <label for="float-input">Número*</label>
                </span>
                <div *ngIf="numero.hasError('required') && numero.dirty"
                class="ui-message ui-messages-error" >
                  Informe o número
                </div>
                </div>

                <div class="ui-g-4 ui-fluid">
                    <span class="ui-float-label">
                      <input id="float-input" type="text" size="30" pInputText
                        name="complemento" [(ngModel)]="paciente.endereco.complemento" #complemento="ngModel" required>
                      <label for="float-input">Complemento*</label>
                  </span>
                  <div *ngIf="complemento.hasError('required') && complemento.dirty"
                  class="ui-message ui-messages-error" >
                    Informe o Complemento
                  </div>
                  </div>

                    <div class="ui-g-4 ui-fluid">
                        <span class="ui-float-label">
                            <p-inputMask mask="99999-999"
                              name="cep" [(ngModel)]="paciente.endereco.cep" #cep="ngModel" required></p-inputMask>
                            <label for="float-input">Cep*</label>
                        </span>
                        <div *ngIf="cep.hasError('required') && cep.dirty"
                        class="ui-message ui-messages-error" >
                          Informe o Cep
                        </div>
                    </div>

                    <div class="ui-g-4 ui-fluid">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText
                          name="cidade" [(ngModel)]="paciente.endereco.cidade" #cidade="ngModel" required>
                        <label for="float-input">Cidade*</label>
                    </span>
                    <div *ngIf="cidade.hasError('required') && cidade.dirty"
                    class="ui-message ui-messages-error" >
                      Informe a Cidade
                    </div>
                    </div>

                    <div class="ui-g-4 ui-fluid">
                      <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText
                          name="estado" [(ngModel)]="paciente.endereco.estado" #estado="ngModel" required>
                        <label for="float-input">Estado*</label>
                    </span>
                    <div *ngIf="estado.hasError('required') && estado.dirty"
                    class="ui-message ui-messages-error" >
                      Informe o Estado
                    </div>
                    </div>
            </div>

        </p-tabPanel>

        <p-tabPanel header="Doença">  
            <div class="ui-g">
                <div class="ui-g-12 ui-fluid">
                    <div class="ui-g-12 ui-fluid">
                        <p-dropdown name="doenca" [options]="doencas" [autoWidth]="false"
                          placeholder="Selecione uma Doença" [filter]=true
                           [(ngModel)]="paciente.doenca.codigo" ></p-dropdown>
                    </div>           
                </div>
            </div>
          
          </p-tabPanel>      
    </p-tabView>

    <button pButton type="submit" class="ui-button-primary" [disabled]="f.invalid" label="Cadastrar"></button>
    <button pButton type="button" class="ui-button-secondary" label="Limpar"></button>
    <a routerLink="/pacientes">voltar para pesquisa de pacientes</a>
  </form>
</div>
