<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f)">
    <h2>Cadastro de Horário de Medicação</h2>
    <div class="ui-g">

        <div class="ui-g-6 ui-fluid">
            <p-dropdown name="paciente" [options]="pacientes" [filter]="true" 
                [autoWidth]="false" placeholder="Selecione o Paciente"
                 [(ngModel)]="horarioMedicacao.medicacao.paciente.codigo"></p-dropdown>
         </div>

         <div class="ui-g-6 ui-fluid">
          <p-dropdown name="medicacao" [options]="medicacoes" [filter]="true" 
              [autoWidth]="false" placeholder="Selecione a Medicação"
               [(ngModel)]="horarioMedicacao.medicacao.codigo" ></p-dropdown>
       </div>
    
       <div class="ui-g-6 ui-fluid">
        <br/>
        <span class="ui-float-label">
          
          <p-calendar name="horario" [(ngModel)]="horarioMedicacao.horario" 
              showTime="showTime" timeOnly="true" hourFormat="24"></p-calendar>
            <label for="float-input">De Quantas em Quantas Horas ?*</label>
        </span>
        </div>

        <div class="ui-g-6 ui-fluid">
            <br/>
            <span class="ui-float-label">
                <p-calendar name="dataFim" 
                [(ngModel)]="horarioMedicacao.dataFim" #dataFim="ngModel" ></p-calendar>
                <label for="float-input">Deseja Informar a Data Fim da Medicação*</label>
            </span>
       
  
        </div>

      </div>
    <br/>
    <button pButton type="submit" class="ui-button-primary" [disabled]="f.invalid" label="Registrar"></button>
    <button pButton type="button" class="ui-button-secondary" label="Limpar"></button>
 
  </form>
</div>
