<div class="container">
    <form autocomplete="off">
      <div class="ui-g">
        <h2>Pesquisa de Pacientes</h2>
          <div class="ui-g-12 ui-fluid">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText >
                <label for="float-input">Cpf: </label>
            </span>
          </div>

          <div class="ui-g-6 ui-fluid">
              <p-dropdown [options]="situacoes" [autoWidth]="false"  ></p-dropdown>
          </div>
      </div>
      
      <button style="margin-left: 8px" pButton type="submit" class="ui-button-primary" label="Pesquisar" ></button>
    </form>

    <div class="ui-g">
        <div class="ui-g-12">

          <p-dataTable [value]="pacientes"  [responsive]=true
              emptyMessage="Nenhum Paciente encontrado" >
            <p-column field="primeiroNome" header="Nome" ></p-column>
            <p-column field="cpf" header="Cpf" ></p-column>
            <p-column field="dataNascimento"  header="Data de Nascimento" ></p-column>
            <p-column field="email"  header="E-Mail" styleClass="col-data"></p-column>
            <p-column field="situacao"  header="Situação" styleClass="col-data"></p-column>

            <p-column styleClass="col-acoes"  >

              <ng-template let-l="rowData" pTemplate="body">
                <a pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPostion="top" ></a>

                <button pButton icon="fa-trash" pTooltip="Apagar" tooltipPostion="top"></button>
                </ng-template>

            </p-column>
          </p-dataTable>

        </div>
        <div class="ui-g-12">
          <a pButton label="Novo Paciente" routerLink="/pacientes/novo"></a>
        </div>
  </div>
</div>
